<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登入</title>
<body>
<div id="app">
密碼:<input type="text" v-Model='title'>
	 <div v-if="title != pwd">錯誤</div>
     <a href='addMsgForm.html' v-if="title == pwd">倉庫</a>
</div>
</body>
</html>
<script language="javascript">
const vm1= Vue.createApp({
	data() {
		return {
			message: '管理者',
			title: '',
			pwd: 12345,
		}
	},
}).mount('#app');
</script>